---
import { Icon } from 'astro-icon';
---

<section class="relative">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="max-w-3xl mx-auto text-center p-6">

				<small>horário</small>
				<hr class="w-2 m-auto mb-8">
				<p class="text-xl text-gray-600 dark:text-slate-400">
					<span class="text-cinza">Seg:</span> fechado
					<br/>
					<span class="text-cinza">Terça:</span> das 8h ás 17h
					<br/>
					<span class="text-cinza">Quarta, Quinta e Sextas:</span> das 8h ás 23h 
					<br/>
					<span class="text-cinza">Sábado:</span> 9h ás 23h 
					<br/>
					<span class="text-cinza">Domingo:</span> 9h ás 17h
				</p>

			</div>
			<div class="max-w-3xl mx-auto text-center p-6 mt-10">
				área destinada para os logos dos parceiros
			</div>
		</div>
	</div>
</section>
