---
import { Icon } from 'astro-icon';
---

<section class="scroll-mt-16" id="features">
	<div class="text-center my-20">		
			<h2 class="text-3xl font-bold leading-tighter tracking-tighter mb-4 text-cinza">
				<Icon name="tabler:brand-facebook" class="w-5 h-5 text-cinza" />
				Rua Dina, 76 Vila Nova Conceição
			
				<Icon name="tabler:brand-facebook" class="w-5 h-5 text-cinza" />
				@cara.colla 
				
				<Icon name="tabler:brand-facebook" class="w-5 h-5 text-cinza" />
				falecom@caracolla.com.br
			</h2>
	</div>

	<div class="px-2 py-12 mx-auto max-w-6xl lg:px-6 lg:py-10 text-center border-marrom border-solid border-2">
		<h2 class="text-3xl font-bold leading-tighter tracking-tighter mb-4 text-cinza">
			Reserve Aqui!!
		</h2>
	</div>
</section>
