---
import { Icon } from 'astro-icon';
import { getHomePermalink } from '~/utils/permalinks';
import Picture from '~/components/core/Picture.astro';

---

<footer class="bg-nude">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="grid grid-cols-12 gap-4 gap-y-8 sm:gap-8 py-8 md:py-12">
			<div class="col-span-12 lg:col-span-4">
				<div class="mb-2">
					<a class="inline-block" href={getHomePermalink()}>
			<Picture
				class=""
				src={import('~/assets/images/logo-caracolla-vertical.png')}
				widths={[150, 190]}
				sizes="(max-width: 768px) 100vw, 150px"
				alt="Caracolla"
				aspectRatio="2:2"
			/>
					</a>
				</div>
			</div>
			<div class="col-span-6 md:col-span-3 lg:col-span-2">
			</div>
			<div class="col-span-6 md:col-span-3 lg:col-span-2">
			</div>
			<div class="col-span-6 md:col-span-6 lg:col-span-4">
				<ul class="text-sm">
					<li class="mb-2">
						<Icon name="tabler:brand-facebook" class="w-5 h-5 text-cinza" /> <a class="text-cinza transition duration-150 ease-in-out" href="#"
							>Rua Dina, 76 , Vila Nova Conceição </a
						>
					</li>
					<li class="mb-2">
						<Icon name="tabler:brand-instagram" class="w-5 h-5 text-cinza" /> <a class="text-cinza transition duration-150 ease-in-out" href="#"
							>@cara.colla</a
						>
					</li>
					<li class="mb-2">
						<Icon name="tabler:brand-twitter" class="w-5 h-5 text-cinza" /><a class="text-cinza transition duration-150 ease-in-out" href="#"
							>
							falecom@caracolla.com.br</a
						>
					</li>
				</ul>
			</div>

			<div class="col-span-12 lg:col-span-12">
				<div class="text-sm text-center text-gray-600">
					<a
						class="text-gray-600 hover:text-gray-700 dark:text-gray-400 hover:underline transition duration-150 ease-in-out"
						href="#">Terms</a
					> ·
					<a
						class="text-gray-600 hover:text-gray-700 dark:text-gray-400 hover:underline transition duration-150 ease-in-out"
						href="#">Privacy Policy</a
					>
				</div>
			</div>			
		</div>

	</div>
</footer>
