---
import { Icon } from 'astro-icon';
import { getHomePermalink } from '~/utils/permalinks';
import Picture from '~/components/core/Picture.astro';

---

<footer class="bg-nude text-marrom text-center">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="grid grid-cols-12 gap-4 gap-y-8 sm:gap-8 py-8 md:py-12">
			<div class="col-span-12 lg:col-span-4">
				<!-- <div class="mb-2">
					<a class="inline-block" href={getHomePermalink()}>
			<Picture
				class=""
				src={import('~/assets/images/logo-caracolla-vertical.png')}
				widths={[150, 190]}
				sizes="(max-width: 768px) 100vw, 150px"
				alt="Caracolla"
				aspectRatio="2:2"
			/>
					</a> 

				</div> -->

				<Icon name="tabler:brand-instagram" class="w-5 h-5 text-cinza" /> 
				<h5>Horário</h5>
				<hr>
				<strong> Seg:</strong> fechado<br/>
				<strong>Terça: </strong>das 8h ás 17h<br/>
				<strong>Quarta, Quinta e Sextas:</strong> das 8h ás 23h Sábado: 9h ás 23h<br/>
			<strong>Domingo: </strong>9h ás 17h

			</div>

			<div class="col-span-6 md:col-span-4 lg:col-span-4">
					<Icon name="tabler:brand-facebook" class="w-5 h-5 text-cinza" /> 
					
					<h5>Local</h5>
					<hr>
					Rua Dina, 76<br/>
					Vila Nova Conceição 

			</div>
			<div class="col-span-6 md:col-span-4 lg:col-span-4">

						<Icon name="tabler:brand-twitter" class="w-5 h-5 text-cinza" />
						<h5>Contato/Reservas</h5>
						<hr>
falecom@caracolla.com.br <br/>
whatsapp: 11 9999 9999

			</div>

			<div class="col-span-12 lg:col-span-12">
				<div class="text-sm text-center text-gray-600">
					<a
						class="text-gray-600 hover:text-gray-700 dark:text-gray-400 hover:underline transition duration-150 ease-in-out"
						href="#">Terms</a
					> ·
					<a
						class="text-gray-600 hover:text-gray-700 dark:text-gray-400 hover:underline transition duration-150 ease-in-out"
						href="#">Privacy Policy</a
					>
				</div>
			</div>			
		</div>

	</div>
</footer>

<style>
	h5 {     font-size: 1.1em;
    font-weight: 600;
	}

	hr {
    border-bottom: 2px solid;
	margin: 0.5em auto;
    width: 30px;
}

	footer {     background: url('~/assets/footer_bg.png');
  text-align: center; }
</style>