---
import Picture from '~/components/core/Picture.astro';
---

<section>
	<div class="w-full mx-auto">
					<Picture
						src={import('~/assets/images/home_slide-01.jpg')}
						class="mx-auto shadow-lg bg-gray-400 dark:bg-slate-700 w-full"
						widths={[767, 1714]}
						sizes=" (max-width: 767px) 767px, 1714px"
						alt="pratodomundo, todo dia"
						aspectRatio="16:9"
					/>
	</div>
</section>
