---
import Picture from '~/components/core/Picture.astro';
---

<section>
	<div class="w-full mx-auto">
					<Picture
						src={import('~/assets/images/home_slide-01X.jpg')}
						class="mx-auto shadow-lg bg-gray-400 dark:bg-slate-700 w-full"
						widths={[767, 1280]}
						sizes=" (max-width: 1280px) 767px, 1280px"
						alt="pratodomundo, todo dia"
						
					/>
	</div>
</section>
