---
import { Icon } from 'astro-icon';
import Picture from '~/components/core/Picture.astro';
---

<section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-6xl">
	<div class="max-w-2xl m-auto text-center">
			<Picture
				class="mx-auto mb-12 text-center"
				src={import('~/assets/images/home_caracol.png')}
				widths={[60, 120]}
				sizes="(max-width: 768px) 100vw, 120px"
				alt="Caracol Caracolla"
				aspectRatio="120:auto"
			/>

		<small>sobre nós</small>
		<hr class="w-2 m-auto mb-8">
		<h2 class="text-3xl font-bold leading-tighter tracking-tighter mb-4 text-cinza">
			Um lugar para comer comida boa, o dia todo, num espiral delicioso de sabores.
		</h2>
		<small>leia mais</small>
seta
	</div>
</section>
